# Challenge 3 Create a Travel Itinerary with a Corresponding Map

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
gmaps.configure(api_key=g_key)

In [3]:
vacation_df = pd.read_csv("./data/WeatherPy_Vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,hithadhoo,MV,84.42,-0.60,73.08,Scoop Guest House
1,1,carnarvon,AU,71.60,-24.87,113.63,Hospitality Carnarvon
2,2,san quintin,MX,61.66,30.48,-115.95,Old Mill Hotel
3,3,quelimane,MZ,74.61,-17.88,36.89,Hotel Flamingo
4,8,aksu,CN,87.39,41.12,80.26,Pudong Holiday Hotel
...,...,...,...,...,...,...,...
362,562,namatanai,PG,82.60,-3.67,152.43,Namatanai Hotel
363,563,eyl,SO,91.81,7.98,49.82,Amiin Hotel
364,565,dawlatabad,AF,100.98,36.41,64.91,WASIM ASGAR KHAN
365,566,kautokeino,NO,67.06,69.01,23.04,Ailo Matki & Tourist -Kautokeino bilutleie
366,567,puerto escondido,MX,79.81,15.85,-97.07,Aldea del Bazar Hotel and Spa

In [4]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat","Lng"]]

In [5]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
vacation_start = vacation_df.loc[vacation_df["City"] == "erlenbach"]
vacation_end = vacation_df.loc[vacation_df["City"] == "libin"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "lata"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "girona"]

In [7]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(49.17, 9.27)
(49.98, 5.28)
(40.16, -8.33)
(41.98, 2.82)

In [14]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
itenerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [10]:
itenerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
112,196,erlenbach,DE,68.0,49.17,9.27,Vienna House Easy Neckarsulm
184,303,libin,BE,72.0,49.98,5.28,Les Gamines
254,405,lata,PT,64.0,40.16,-8.33,Casa Maquia
68,125,girona,ES,75.0,41.98,2.82,Palau de Bellavista by URH

In [11]:
itenerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,196,erlenbach,DE,68.0,49.17,9.27,Vienna House Easy Neckarsulm
1,303,libin,BE,72.0,49.98,5.28,Les Gamines
2,405,lata,PT,64.0,40.16,-8.33,Casa Maquia
3,125,girona,ES,75.0,41.98,2.82,Palau de Bellavista by URH

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itenerary_df.iterrows()]
locations = itenerary_df[["Lat","Lng"]]

In [13]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))