In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Qaanaaq,77.48,-69.36,37.42,75,0,4.54,GL,2020-06-24 06:23:26
1,1,Herrin,37.80,-89.03,68.00,93,1,4.36,US,2020-06-24 06:23:26
2,2,Bredasdorp,-34.53,20.04,37.40,93,0,1.34,ZA,2020-06-24 06:23:27
3,3,Teguldet,57.31,88.17,80.91,48,99,2.37,RU,2020-06-24 06:21:07
4,4,Ushuaia,-54.80,-68.30,35.60,74,90,17.22,AR,2020-06-24 06:18:31

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
temps

[37.42,
 68.0,
 37.4,
 80.91,
 35.6,
 45.99,
 73.4,
 77.13,
 87.22,
 51.03,
 70.39,
 60.35,
 37.4,
 63.0,
 71.13,
 64.0,
 39.2,
 78.8,
 69.8,
 82.4,
 74.84,
 68.0,
 95.0,
 55.4,
 66.2,
 48.2,
 83.84,
 75.2,
 66.2,
 43.45,
 88.41,
 31.89,
 35.6,
 43.0,
 86.94,
 46.87,
 71.01,
 46.81,
 63.52,
 83.97,
 79.0,
 70.57,
 55.4,
 60.22,
 68.0,
 71.6,
 33.8,
 60.01,
 55.0,
 39.43,
 72.0,
 91.0,
 40.59,
 63.46,
 57.2,
 42.8,
 66.2,
 67.1,
 77.36,
 73.0,
 60.06,
 70.0,
 73.99,
 65.77,
 55.69,
 57.51,
 87.42,
 39.2,
 78.6,
 75.99,
 69.8,
 61.3,
 55.4,
 78.8,
 93.76,
 57.99,
 64.4,
 90.9,
 84.43,
 47.03,
 77.0,
 50.0,
 78.48,
 90.09,
 42.8,
 86.0,
 71.6,
 66.2,
 39.2,
 64.4,
 37.4,
 89.69,
 78.01,
 75.81,
 86.65,
 75.2,
 66.2,
 66.2,
 76.5,
 57.99,
 71.13,
 81.0,
 69.8,
 86.02,
 82.31,
 47.35,
 32.65,
 59.0,
 37.89,
 50.0,
 72.72,
 59.85,
 64.33,
 33.96,
 51.8,
 77.0,
 80.51,
 57.99,
 53.37,
 73.4,
 48.99,
 82.4,
 56.82,
 83.86,
 103.87,
 71.29,
 65.8,
 61.11,
 78.8,
 64.4,
 71.6,
 42.58,
 62.6,
 73.4,
 89.22,
 83.93,
 77.0,
 73.0,
 65.91,
 57.2,
 77.0,
 52.74,
 71.13,
 55.71,
 57.63,
 64.99,
 84.69,
 73.0,
 75.2,
 63.0,
 86.97,
 66.2,
 64.4,
 61.54,
 55.4,
 71.6,
 73.24,
 69.78,
 59.0,
 88.92,
 79.92,
 32.5,
 57.34,
 60.01,
 73.4,
 68.0,
 79.65,
 57.72,
 64.0,
 69.04,
 63.0,
 68.81,
 47.17,
 57.38,
 62.6,
 72.55,
 48.99,
 69.1,
 89.6,
 68.0,
 53.6,
 47.73,
 82.89,
 78.37,
 75.49,
 46.4,
 55.4,
 95.0,
 80.78,
 59.43,
 82.4,
 85.71,
 53.6,
 60.03,
 88.27,
 66.25,
 79.74,
 68.0,
 70.32,
 81.03,
 63.7,
 64.4,
 66.2,
 64.4,
 65.01,
 79.05,
 48.97,
 77.0,
 73.78,
 59.0,
 69.8,
 77.0,
 75.2,
 86.16,
 61.21,
 46.4,
 82.4,
 85.86,
 46.99,
 66.2,
 85.66,
 64.4,
 46.24,
 70.0,
 68.67,
 73.4,
 78.8,
 71.13,
 71.51,
 71.65,
 80.6,
 72.99,
 68.0,
 55.99,
 85.86,
 73.4,
 85.06,
 84.65,
 44.65,
 55.0,
 51.8,
 45.59,
 77.0,
 70.61,
 61.0,
 60.8,
 83.16,
 53.6,
 87.01,
 74.57,
 66.99,
 76.53,
 74.28,
 62.64,
 48.99,
 90.23,
 73.4,
 62.01,
 60.15,
 68.0,
 79.36,
 88.32,
 87.8,
 68.0,
 77.14,
 73.4,
 60.01,
 71.92,
 80.29,
 64.4,
 66.0,
 64.98,
 75.2,
 78.8,
 72.09,
 64.4,
 63.19,
 54.23,
 75.2,
 88.45,
 48.2,
 83.25,
 47.97,
 80.73,
 62.6,
 71.6,
 75.2,
 50.0,
 45.77,
 63.59,
 69.8,
 86.81,
 71.91,
 84.29,
 84.25,
 68.0,
 28.4,
 83.82,
 91.4,
 39.58,
 77.0,
 64.4,
 66.25,
 64.62,
 68.0,
 82.4,
 60.01,
 56.23,
 39.65,
 48.67,
 85.24,
 61.0,
 66.06,
 89.76,
 65.88,
 68.58,
 60.01,
 71.6,
 52.61,
 64.4,
 87.01,
 87.69,
 57.31,
 59.0,
 76.19,
 84.4,
 95.63,
 63.9,
 73.4,
 45.25,
 73.4,
 78.01,
 64.99,
 73.4,
 39.2,
 81.63,
 53.6,
 82.4,
 87.55,
 78.91,
 91.4,
 75.27,
 78.8,
 79.54,
 60.8,
 78.71,
 73.99,
 80.01,
 80.01,
 51.8,
 51.8,
 72.12,
 60.01,
 75.99,
 53.6,
 83.64,
 86.45,
 59.0,
 94.32,
 77.23,
 64.4,
 69.96,
 77.49,
 75.16,
 63.0,
 83.79,
 75.96,
 86.77,
 52.43,
 93.2,
 60.71,
 76.08,
 80.22,
 61.14,
 78.33,
 87.8,
 90.48,
 84.2,
 84.49,
 48.0,
 86.0,
 102.24,
 95.0,
 64.4,
 62.6,
 48.13,
 60.01,
 78.01,
 82.44,
 89.6,
 69.08,
 68.0,
 68.0,
 37.99,
 75.85,
 89.49,
 46.4,
 50.0,
 88.0,
 71.73,
 41.0,
 88.45,
 84.07,
 53.6,
 88.56,
 91.4,
 63.0,
 66.0,
 61.68,
 70.0,
 82.0,
 82.99,
 50.2,
 50.0,
 79.47,
 64.99,
 46.27,
 83.73,
 72.95,
 55.4,
 86.47,
 61.65,
 72.0,
 78.8,
 63.0,
 63.27,
 75.42,
 73.54,
 77.29,
 63.0,
 98.6,
 70.48,
 68.0,
 79.0,
 60.8,
 82.24,
 84.13,
 75.2,
 89.98,
 74.77,
 63.0,
 68.31,
 66.0,
 86.56,
 47.55,
 88.66,
 86.79,
 93.2,
 79.2,
 75.2,
 83.61,
 61.0,
 30.2,
 84.18,
 86.23,
 81.64,
 58.26,
 82.4,
 70.88,
 74.84,
 90.63,
 71.56,
 64.99,
 64.99,
 95.0,
 68.16,
 91.4,
 79.61,
 85.08,
 74.41,
 84.2,
 49.91,
 69.91,
 84.2,
 55.99,
 66.24,
 84.79,
 39.94,
 44.6,
 80.01,
 81.07,
 66.0,
 53.6,
 67.24,
 39.2,
 90.0,
 60.8,
 63.0,
 71.6,
 71.6,
 55.0,
 76.46,
 46.4,
 68.0,
 88.48,
 89.92,
 78.01,
 64.4,
 85.95,
 66.99,
 72.07,
 75.33,
 48.49,
 48.79,
 71.6,
 69.58,
 71.6,
 88.23,
 59.05,
 76.89,
 84.15,
 65.73,
 87.4,
 42.6,
 71.82,
 64.4,
 80.6,
 84.2,
 71.6,
 76.41,
 71.92,
 67.19,
 81.0,
 80.04,
 60.66,
 70.2,
 66.36,
 63.84,
 84.79,
 68.7,
 79.12,
 86.0,
 39.56,
 66.2,
 79.36,
 60.8,
 58.66,
 61.63,
 89.69,
 91.4,
 59.0,
 41.0,
 64.4,
 54.93,
 91.54,
 73.42,
 72.0,
 61.12,
 85.82,
 66.2,
 81.7,
 66.99,
 77.0,
 72.07,
 71.92,
 44.92,
 81.48,
 107.73,
 71.47,
 67.06,
 76.05,
 46.4,
 37.4,
 55.4,
 62.6,
 68.0,
 112.6,
 91.0,
 62.6,
 88.36,
 82.49,
 95.0,
 53.17,
 64.4,
 50.54,
 57.31,
 61.83,
 58.17,
 78.8,
 72.05]

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Teguldet,57.31,88.17,80.91,48,99,2.37,RU,2020-06-24 06:21:07
7,7,Takoradi,4.88,-1.76,77.13,87,69,6.38,GH,2020-06-24 06:23:28
8,8,Atar,20.52,-13.05,87.22,24,0,2.42,MR,2020-06-24 06:23:28
17,17,Shaoxing,30.01,120.57,78.80,83,75,6.71,CN,2020-06-24 06:23:30
19,19,Urumqi,43.80,87.60,82.40,28,99,8.95,CN,2020-06-24 06:23:31
22,22,Riyadh,24.69,46.72,95.00,11,100,8.05,SA,2020-06-24 06:19:02
26,26,Butaritari,3.07,172.79,83.84,74,28,13.71,KI,2020-06-24 06:23:32
27,27,Avarua,-21.21,-159.78,75.20,83,42,5.82,CK,2020-06-24 06:23:32
30,30,Dwarka,22.24,68.97,88.41,70,11,10.00,IN,2020-06-24 06:23:33
34,34,Erenhot,43.65,111.98,86.94,12,66,19.39,CN,2020-06-24 06:23:34

In [17]:
preferred_cities_df.count()

City_ID       214
City          214
Lat           214
Lng           214
Max Temp      214
Humidity      214
Cloudiness    214
Wind Speed    214
Country       214
Date          214
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
3     Teguldet      RU     80.91  57.31   88.17
7     Takoradi      GH     77.13   4.88   -1.76
8         Atar      MR     87.22  20.52  -13.05
17    Shaoxing      CN     78.80  30.01  120.57
19      Urumqi      CN     82.40  43.80   87.60
22      Riyadh      SA     95.00  24.69   46.72
26  Butaritari      KI     83.84   3.07  172.79
27      Avarua      CK     75.20 -21.21 -159.78
30      Dwarka      IN     88.41  22.24   68.97
34     Erenhot      CN     86.94  43.65  111.98

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

  # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [20]:
hotel_df

            City Country  Max Temp    Lat     Lng                   Hotel Name
3       Teguldet      RU     80.91  57.31   88.17              Gostinitsa Kedr
7       Takoradi      GH     77.13   4.88   -1.76   Raybow International Hotel
8           Atar      MR     87.22  20.52  -13.05               Oumou Elghoura
17      Shaoxing      CN     78.80  30.01  120.57         Holiday Inn Shaoxing
19        Urumqi      CN     82.40  43.80   87.60  Hua Ling Grand Hotel Urumqi
..           ...     ...       ...    ...     ...                          ...
567      Buckeye      US     91.00  33.37 -112.58          Buckeye Motor Hotel
569  Bandarbeyla      SO     88.36   9.49   50.81           REER XOOSHLE GROUP
570     Kirakira      SB     82.49 -10.45  161.92                 SanBiz Lodge
571        Melur      IN     95.00  10.05   78.33            hotel temple city
578       Olinda      BR     78.80  -8.01  -34.86                 Hotel 5 Sóis

[214 rows x 6 columns]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))